<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="microtractor">
    <xacro:include filename="colours.xacro"/>
    <xacro:include filename="track.xacro"/>
    <xacro:include filename="microtractor_core.xacro"/>
    <xacro:include filename="microtractor.ros2_control.xacro"/>
</robot>